__pycache__/extensions.cpython-312.pyc
__pycache__/models.cpython-312.pyc
routes/__pycache__/__init__.cpython-312.pyc
routes/__pycache__/auth.cpython-312.pyc
routes/__pycache__/idle_management.cpython-312.pyc
routes/__pycache__/main.cpython-312.pyc
routes/__pycache__/settings.cpython-312.pyc
